
<% if (parks.length > 0) { %> 
    <% parks.forEach( park => { %>
      <% let images = park.images %>
      <% images.forEach(image => { %>
        <div class="panel panel-default">
          <img src="<%=image.path%>" alt="" class="img-responsive">


          <p><strong><%= park.name  %></strong></p>
          <!-- <p>Image Name: <%= image.name %></p> -->
          <strong>Date Taken:</strong> <%= image.createDate %><br>
          <strong>Camera Model:</strong> <%= image.model %><br>
          <strong>Lens:</strong> <%= image.lensModel %><br>
          
          <strong>Exposure:</strong> <%= image.exposureTime %> s<br>
          <strong>ISO:</strong> <%= image.ISO %><br>
          <strong>F-stop:</strong> f/<%= image.fNumber %><br>
          <strong>Focal Length:</strong> <%= image.focalLength %> mm<br>
          <strong>Exposure Compensation:</strong> <%= image.exposureCompensation %><br>

        </div>
<% })})} %>
